 <a class="link" [routerLink]="['bikes/bikes-list']">Bikes List</a>
<a class="link" [routerLink]="['bikes/bikes-create']">Bikes Create</a>
<a class="link" [routerLink]="['bikes/bikes-update']">Bikes-Update</a>
<a class="link" [routerLink]="['bikes/bikes-view']">Bikes-View</a>
<a class="link" [routerLink]="['clients/clients-list']">Clients-List</a>
<a class="link" [routerLink]="['clients/clients-forms']">Clients-Forms</a>
<a class="link" [routerLink]="['clients/clients-update']">Clients-Update</a>

<h1>Links Del Reto Clase Jueves 19 de marzo</h1>
<a class="link" [routerLink]="['reto/buscador']">Buscador</a>
<a class="link" [routerLink]="['reto/buscador-list']">Buscador-list</a>
<a class="link" [routerLink]="['user/user-list']">User-list</a>
<a class="link" [routerLink]="['user/user-create']">User-create</a>