<app-header></app-header>

<h2>Hola Angular</h2>

{{ title }} <br>
la suma es: {{ resultado1 }} <br>
la resta es: {{ resultado2 }} <br>
la multiplicacion es: {{ resultado3 }} <br>
la division es: {{ resultado4 }} <br>
<app-footer></app-footer>
<router-outlet></router-outlet>