<div>
    <form [formGroup]="formSearchUserId"  (ngSubmit)="searchUserId()">

        <label for="">Buscador</label>
       
        <input type="text" formControlName="userId" (blur)="searchUserId()" placeholder="Ingrese su busqueda" >
       
        <p *ngIf="statusSearchUserId">Este userId que esta buscando no existe</p>
    
        <button>Buscar</button>
    </form>
</div>
